.email-container {
  padding: 20px;
} /*  Just using padding in order to have space between certain things within the template */

.compose-btn, .reply-btn {
  width: 100%;
  margin-bottom: 10px; /*  Specifications for the compose and reply buttons */

}
@media (min-width: 576px) {
  .email-container {
    max-width: 540px;
    margin: 0 auto;  
  } /*  The at-rules with the @ symbol are being used in order to signify how things should be shown with the style used at different sizes */
}


@media (min-width: 768px) {
  .email-container {
    max-width: 720px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .email-container {
    max-width: 960px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .email-container {
    max-width: 1140px;
    margin: 0 auto;
  } 
}